{% extends "AppBundle:Page:index.html.twig" %}
{% block cuerpo %}

     {% if app.session.flashBag.has('default_message_success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('default_message_success') %}
                {{ msg }}
            {% endfor %}           
        </div>
    {% endif %}

    {% if app.session.flashBag.has('default_message_error') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('default_message_error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
     
    <div  class="sevencol last ">
        <div class="row" style="min-height: 300px !important; ">
                <div class="fourcol">
                    <div class="ui-widget">
                        <div style="margin-right: 20px;margin-top: 20px; margin-bottom: 20px; padding: 10px;" class="ui-state-highlight ui-corner-all">
                            <p>
                                <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-contact"> </span> <strong>
                                   Bienvenido! <br>
                                </strong>

                                <br>
                               <strong> User:</strong> {{ app.user.username|default('') }}
                                <br>
                                <strong>Nombre: </strong>{{ app.user.nombre|default('') }}
                                <br>
                                <strong>Apellido: </strong>{{ app.user.apellido|default('') }}                                
                                <br>
                                
                            </p>
                        </div>
                    </div>
                </div>     
        </div>     
       
    </div>
    <div class="row"></div>

{% endblock %}
